/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11-nov-2013, 16.19.37
    Author     : Gianni
*/

@font-face
{
}

body
{
    font-family: BalsamiqSansRegular;
}

p
{
    margin: 0 auto;
    
}

a
{
    text-decoration: none;
}

.container
{
    width: 940px;
    margin: 0 auto;
    padding: 0 auto;
    margin-top: 20px;
}

.stdinput
{
    width: 200px;
    height: 35px;
    font-size: 25px;
    text-align: left;   
    margin-bottom: 10px;
}
.stdsbmt
{
    width: 150px;
    height: 35px;
    margin-bottom: 10px;
    font-size: 25px;
}

.stdlabel
{
    font-size: 25px;
}

.center
{
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.logform   
{
    position: relative;
    width: 320px;
    margin-top: 150px;
}

.center-sbmt
{
    width:150px;
}

.maintitle
{
    position: relative;
    font-size: 60px;
}

.subtitle
{
    position: relative;
    font-size: 30px;
}

.dummy
{
    position: relative;
    height: 30px;
}

.menuitem
{
    list-style-type: none;
    font-size: 30px;
    height: 40px;
}
.menu
{
    position: relative;
    list-style: none;
}

.menuimg
{
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

.grouptable
{
    margin-top: 30px;
    width: 940px;
}

.titlerow
{
    text-align: center;
    font-size: 40px;
}

th 
{
    padding: 0.5em 1em;
    border-bottom:2px solid black;
    border-right: 2px solid black;
    border-left: none;
}

.nbr
{
    border-right: none;
}

td
{
    padding: 0.5em 1em;
    border-bottom:2px solid black;
    border-right: 2px solid black;
    border-left: none;
    font-size: 25px;
    text-align: center;
}

.endtd
{
    height: 40px;
    border-bottom: none;
}


.retbtn
{
    margin-top: 30px;
    width: 150px;
    height: 50px;
    font-size: 35px;
    margin-left: 395px;
}

.imgdiv
{
    float: left;
    width: 150px;
    margin-top: 30px;
}

.adminimg
{
    width: 150px;
    height: 150px;
}

.newscontainer
{
    position: relative;
    float: left;
    margin-left: 70px;
    width: 700px;
    height: 350px;
    margin-top: 30px;
    border: 2px solid black;
    overflow-y: scroll;
    overflow-x: hidden;
}

.imgdescriptor
{
    text-align: center;
    font-size: 20px;
}

.custombtn
{
     margin-top: 30px;
    width: 150px;
    height: 50px;
    font-size: 35px;
}

.post
{
    width: 700px;
    border-bottom: 1px solid black;
    min-height: 100px;
    margin-top: 20px;
}

.postinfo
{
    margin-left: 20px;
    width: 120px;
    float: left;
    text-align: center;
}

.posttext
{
    float: left;
    width: 500px;
    margin-left: 10px;
}




.custom-container
    {
      position:relative;
      width:100px;
      height: 40px;
      background-color: #99CCFF;
      border: 2px solid #969696;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius:  10px;
      margin:0 auto;
    }



    input[type=checkbox].custom-checkbox 
    {
          display:none;
        }

        input[type=checkbox].custom-checkbox + label.custom-label 
        {
            height:34px; 
            width: 34px;
            margin-top: 3px;
            margin-left:3px;
            margin-bottom:3px;
            float:left;
            border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius:  10px;
            display:inline-block;
            cursor:pointer;
            -webkit-transition-property: margin;
      -webkit-transition-duration: 0.3s;
      -webkit-transition-timing-function: linear;
      -moz-transition-property: margin;
      -moz-transition-duration: 0.3s;
      -moz-transition-timing-function: linear;
      transition-property: margin;
      transition-duration: 0.3s;
      transition-timing-function: linear;
      
         }

         input[type=checkbox].custom-checkbox:checked + label.custom-label 
         {
          background-color: #66CC33;
          margin-right: 3px;
          margin-left:63px;
         }
         
        label.custom-label 
        {
          background-color: #CC3333;
          -webkit-touch-callout: none;
          -webkit-user-select: none;
          -khtml-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
        }
     
        
 
input[type=checkbox].css-checkbox {
              display:none;
            }

            input[type=checkbox].css-checkbox + label.css-label {
              padding-left:29px;
              height:24px; 
              display:inline-block;
              line-height:24px;
              background-repeat:no-repeat;
              background-position: 0 0;
              font-size:24px;
              vertical-align:middle;
              cursor:pointer;

            }

            input[type=checkbox].css-checkbox:checked + label.css-label {
              background-image: url(http://localhost:8080/WebFinal/Images/deleteicongreen.png);
            }
            label.css-label {
        background-image:url(http://localhost:8080/WebFinal/Images/deleteiconred.png);
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }