<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>
            Login
        </welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginAppoggio</servlet-name>
        <servlet-class>servlet.LoginAppoggio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>servlet.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>creaGruppo</servlet-name>
        <servlet-class>servlet.creaGruppo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>creaGruppoAppoggio</servlet-name>
        <servlet-class>servlet.creaGruppoAppoggio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listaInviti</servlet-name>
        <servlet-class>servlet.listaInviti</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>iMieiDati</servlet-name>
        <servlet-class>servlet.iMieiDati</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>iMieiDatiAppoggio</servlet-name>
        <servlet-class>servlet.iMieiDatiAppoggio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>servlet.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modificaGruppo</servlet-name>
        <servlet-class>servlet.modificaGruppo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modificaGruppoAppoggio</servlet-name>
        <servlet-class>servlet.modificaGruppoAppoggio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Gruppi</servlet-name>
        <servlet-class>servlet.Gruppi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PDF_report</servlet-name>
        <servlet-class>servlet.PDF_report</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Forum</servlet-name>
        <servlet-class>servlet.Forum</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GruppoVuoto</servlet-name>
        <servlet-class>servlet.GruppoVuoto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listaInvitiAppoggio</servlet-name>
        <servlet-class>servlet.listaInvitiAppoggio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addPost</servlet-name>
        <servlet-class>servlet.addPost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addPostAppoggio</servlet-name>
        <servlet-class>servlet.addPostAppoggio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eliminaGruppo</servlet-name>
        <servlet-class>servlet.eliminaGruppo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modificaGruppoElimina</servlet-name>
        <servlet-class>servlet.modificaGruppoElimina</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginAppoggio</servlet-name>
        <url-pattern>/LoginAppoggio</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>loginFilter</filter-name>
        <filter-class>filter.loginFilter</filter-class>
    </filter>
    <filter>
        <filter-name>GroupFilter</filter-name>
        <filter-class>filter.GroupFilter</filter-class>
    </filter>
    <filter>
        <filter-name>GroupAdminFilter</filter-name>
        <filter-class>filter.GroupAdminFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>loginFilter</filter-name>
        <servlet-name>Home</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>GroupFilter</filter-name>
        <servlet-name>Forum</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>GroupAdminFilter</filter-name>
        <servlet-name>PDF_report</servlet-name>
        <servlet-name>modificaGruppo</servlet-name>
        <servlet-name>modificaGruppoAppoggio</servlet-name>
    </filter-mapping>
    <listener>
        <description>listener</description>
        <listener-class>listener.contextListener</listener-class>
    </listener>
    <context-param>
        <param-name>dburl</param-name>
        <param-value> jdbc:derby://localhost:1527/WebDB; user = gabri; password = marmotta00</param-value>
    </context-param>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>creaGruppo</servlet-name>
        <url-pattern>/creaGruppo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>creaGruppoAppoggio</servlet-name>
        <url-pattern>/creaGruppoAppoggio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listaInviti</servlet-name>
        <url-pattern>/listaInviti</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>iMieiDati</servlet-name>
        <url-pattern>/iMieiDati</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>iMieiDatiAppoggio</servlet-name>
        <url-pattern>/iMieiDatiAppoggio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modificaGruppo</servlet-name>
        <url-pattern>/modificaGruppo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modificaGruppoAppoggio</servlet-name>
        <url-pattern>/modificaGruppoAppoggio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Gruppi</servlet-name>
        <url-pattern>/Gruppi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PDF_report</servlet-name>
        <url-pattern>/PDF_report</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Forum</servlet-name>
        <url-pattern>/Forum</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GruppoVuoto</servlet-name>
        <url-pattern>/GruppoVuoto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listaInvitiAppoggio</servlet-name>
        <url-pattern>/listaInvitiAppoggio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addPost</servlet-name>
        <url-pattern>/addPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addPostAppoggio</servlet-name>
        <url-pattern>/addPostAppoggio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eliminaGruppo</servlet-name>
        <url-pattern>/eliminaGruppo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modificaGruppoElimina</servlet-name>
        <url-pattern>/modificaGruppoElimina</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
