<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginAppoggio</servlet-name>
        <servlet-class>servlet.LoginAppoggio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>servlet.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>creaGruppo</servlet-name>
        <servlet-class>servlet.creaGruppo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>creaGruppoAppoggio</servlet-name>
        <servlet-class>servlet.creaGruppoAppoggio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listaInviti</servlet-name>
        <servlet-class>servlet.listaInviti</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>iMieiDati</servlet-name>
        <servlet-class>servlet.iMieiDati</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>iMieiDatiAppoggio</servlet-name>
        <servlet-class>servlet.iMieiDatiAppoggio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>servlet.Logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginAppoggio</servlet-name>
        <url-pattern>/LoginAppoggio</url-pattern>
    </servlet-mapping>
    <listener>
        <description>listener</description>
        <listener-class>listener.contextListener</listener-class>
    </listener>
    <context-param>
        <param-name>dburl</param-name>
        <param-value> jdbc:derby://localhost:1527/WebDB; user = gabri; password = marmotta00</param-value>
    </context-param>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>creaGruppo</servlet-name>
        <url-pattern>/creaGruppo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>creaGruppoAppoggio</servlet-name>
        <url-pattern>/creaGruppoAppoggio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listaInviti</servlet-name>
        <url-pattern>/listaInviti</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>iMieiDati</servlet-name>
        <url-pattern>/iMieiDati</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>iMieiDatiAppoggio</servlet-name>
        <url-pattern>/iMieiDatiAppoggio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
